body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

header{
	background:#fff;
	width:100%;
	height: 400px;
	padding: 40px 0;
	color: white;
	text-align: center;
	margin-bottom: 0px;
	font-size: 30px;
	line-height: 0.5em;
}

nav{
	padding:0px;
	
	position: fixed;
    	top:0px;
    	width:100%;
        box-sizing: border-box;


}

nav ul, section ul{
	background:#3498db ;
	
	overflow: hidden;
	color: white;
	padding: 0px;
	text-align: center;
	margin: 0px;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
   
}
nav ul li, section ul li{
	display: inline-block;
	margin:10px;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 16px;
}
nav ul li:hover{
    background:#2980b9;
    border-radius: 5px;
}
a{
	text-decoration: none;
	color:inherit;
}
section{
	line-height: 1.5em;
	font-size: 1em;
	padding: 40px;
	width:100%;
	height:500px;
	margin:0px auto;
	color:#444;
	text-align:center;
	box-sizing: border-box;
}
p{
	width:80%;
	margin:0px auto;
	padding: 20px;

}
section h1{
	
	text-align:center;
	font-weight: bold;
	font-size: 40px;
	color:#fff;
}
section ul{
    padding:0px;
	background-color: white;
	color:#000;
}
#sectionabout{
	background-color: #e74c3c;
	
}
#sectioncontact{
	background-color: #95a5a6;

}
#sectioncontact h1{
	color:#fff;
}
section ul li{
	padding: 80px;
	color:#95a5a6;
	background:#ecf0f1;
    text-align: center;
}
.handle{
	width:100%;
	background:#3498db;
	text-align:left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color:white;
    display:none;
    font-weight: bold;
}

footer{
	margin:0px auto;
	width:100%;
	padding:10px;
	box-sizing: border-box;
	text-align: center;
	color:#7f8c8d;
	background-color: #ecf0f1;
	font-size: 16px;
	font-weight: bold;
}

@media screen and (max-width:780px){

	body{
		margin:0px;
		padding:0px;
		font-family: sans-serif;
	}
   nav ul{
   	display:none;
   	padding:0px;
   }
  
   nav ul li{
   	margin:0px;
   	width:100%;
   	box-sizing: border-box;
   	padding: 15px;
   	text-align:left;

   }
   nav ul li:hover{
   	background:#3498db;
   }

   .handle{
   	display: block;
   }

   p{
   	width: 100%;
   	box-sizing: border-box;
   }

   section{
   	margin: 0px auto;
   	width:100%;
   	box-sizing: border-box;
   }
    section ul{
    	background-color: #d0d0d0;
    }
   section ul li{
   	text-align: center;
   	
   }
	nav:hover ul{
           display: block;
	}
	nav:hover .handle{
		display: none;
	}

}
